/Docker/redis/data
.idea/*
.env
.env.production
/Backend/phpunit.xml.dist
/List/*
/Docker/mysqlFriendly/db/
/Docker/mysqlFriendly/log/
/Docker/mysql/db/
/Friendly/bootstrap/cache/
/Backend/bootstrap/cache/
/Baza/bootstrap/cache/
*.sql
