AddDefaultCharset UTF-8

php_flag display_errors on
php_flag display_startup_errors on


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} \.(css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico)$|test\.php$
	RewriteRule ^(.*)$ $1 [L,QSA]

DirectoryIndex index.html

RewriteRule ^(.*)$ index.html [L]
